<div class="col-md-6 offset-md-3">
  <h3>Create User</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="user.name"
        name="name"
        maxlength="255"
        required
      />
    </div>

    <div class="form-group">
      <label>First Surname</label>
      <input
        type="text"
        class="form-control"
        id="surname"
        [(ngModel)]="user.surname"
        name="surname"
        maxlength="255"
        required
      />
    </div>

    <div class="form-group">
      <label>Gender</label>
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="user.gender"
        name="gender"
        required
      >
        <option selected value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>

    <div class="form-group">
      <label for="birthdate">Birthdate</label>
      <input
        type="text"
        class="form-control"
        id="birthdate"
        placeholder="Choose your birthdate"
        bsDatepicker
        [(ngModel)]="user.birthdate"
        name="birthdate"
        autocomplete="off"
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        required
      />
    </div>

    <div class="form-group">
      <label>Work Address</label>
      <textarea
        class="form-control"
        id="work"
        [(ngModel)]="address.work"
        name="work"
        maxlength="255"
        rows="1"
        style="resize: none"
      ></textarea>
    </div>

    <div class="form-group">
      <label>Home Address</label>
      <textarea
        class="form-control"
        id="home"
        [(ngModel)]="address.home"
        name="home"
        maxlength="255"
        rows="1"
        style="resize: none"
      ></textarea>
    </div>

    <br />
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="
        !user.name || !user.surname || !user.gender || !user.birthdate
      "
    >
      Submit
    </button>
  </form>
</div>
