<!-- Navbar  -->
<nav class="navbar navbar-expand-lg">
  <h3 class="navbar-brand">User Nexus</h3>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Display Users</a>
      </li>
    </ul>
  </div>
</nav>
<section class="col-md-6 offset-md-3 section">
  <header>
    <h2 class="title">Create User</h2>
  </header>
  <form (ngSubmit)="onSubmit()" class="form-container">
    <fieldset class="form-field">
      <legend class="form-title">First Name*</legend>
      <div class="form-group form-input">
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="user.name"
          name="name"
          maxlength="255"
          required
        />
      </div>
    </fieldset>

    <fieldset class="form-field">
      <legend class="form-title">Last Name*</legend>
      <div class="form-group form-input">
        <input
          type="text"
          class="form-control"
          id="surname"
          [(ngModel)]="user.surname"
          name="surname"
          maxlength="255"
          required
        />
      </div>
    </fieldset>

    <div class="form-row">
      <fieldset class="form-field">
        <legend class="form-title">Gender</legend>
        <div class="form-group form-input">
          <select
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="user.gender"
            name="gender"
            required
          >
            <option selected value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div>
      </fieldset>

      <fieldset class="form-field">
        <legend class="form-title">Birthdate*</legend>
        <div class="form-group form-input form-birthdate">
          <input
            type="text"
            class="form-control"
            id="birthdate"
            bsDatepicker
            [(ngModel)]="user.birthdate"
            name="birthdate"
            autocomplete="off"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
            required
            onfocus="this.blur()"
          />
        </div>
      </fieldset>
    </div>

    <fieldset class="form-field">
      <legend class="form-title">Work Address</legend>
      <div class="form-group form-input">
        <textarea
          class="form-control"
          id="work"
          [(ngModel)]="address.work"
          name="work"
          maxlength="255"
          rows="1"
          style="resize: none"
        ></textarea>
      </div>
    </fieldset>

    <fieldset class="form-field">
      <legend class="form-title">Home Address</legend>
      <div class="form-group form-input">
        <textarea
          class="form-control"
          id="home"
          [(ngModel)]="address.home"
          name="home"
          maxlength="255"
          rows="1"
          style="resize: none"
        ></textarea>
      </div>
    </fieldset>

    <footer class="footer">
      <button
        class="btn"
        type="submit"
        [disabled]="
          !user.name || !user.surname || !user.gender || !user.birthdate
        "
      >
        Submit
      </button>
    </footer>
  </form>
</section>
