/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~typeface-roboto";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #95a5a6;
}

a {
  text-decoration: none !important;
}
